# System files
# ------------

Icon
.DS_Store
/site/plugins/editor/*

# Temporary files
# ---------------

/media/*
!/media/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license

# Lock files
# ---------------
.lock

/vendor

/kirby

/node_modules

composer.lock
assets/prepros.config
prepros.config
site/plugins/table-field/.gitignore
site/plugins/table-field/composer.json
site/plugins/table-field/index.php
site/plugins/table-field/LICENSE.md
site/plugins/table-field/package.json
site/plugins/table-field/README.md
site/plugins/table-field/src/index.js
site/plugins/table-field/src/assets/js/lodash.js
site/plugins/table-field/src/assets/scss/index.scss
site/plugins/table-field/src/components/table.vue
