@import "../../vendor/twbs/bootstrap/scss/functions";
// Then add additional custom code here

/* -------begin customization-------- */

// Custom
$primary: #586994;
$secondary: #f9f8f8;
$success: #bdc8d4;
$info: #0099cc;
$warning: #a34c40;
$danger: #8c271e;
$light: #0e5499;
$dark: #250606dc;


$teamfarbe1: #a2c334;
$teamfarbe2: #346434;
$teamfarbe3: #97675b;
$teamfarbe4: #d22334;
$teamfarbe5: #e27ff4;
$teamfarbe6: #fbb334;
$teamfarbe7: #ada18c;



$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "teamfarbe1": $teamfarbe1,
    "teamfarbe2": $teamfarbe2,
    "teamfarbe3": $teamfarbe3,
    "teamfarbe4": $teamfarbe4,
    "teamfarbe5": $teamfarbe5,
    "teamfarbe6": $teamfarbe6,
    "teamfarbe7": $teamfarbe7,
);

.carousel-indicators {
    position: static !important;
}

.carousel-caption {
    position: static !important;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}



.honeypot {
    //Für Formulare (sehr primitives antispam)
    position: absolute;
    left: -9999px;
}

.text-umbruch {
    //Speziell für die Navbar
    white-space: normal !important;
}

@media (min-width: 576px) {
    //Speziell für die Navbar
    .text-sm-kein-umbruch {
        white-space: nowrap !important;
    }
}


/* das Menu */
@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: $secondary;
        // 08/15 übergang
        // transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

        // eher spielerische mit "über das Ziel hinaus"
        transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        // etwas weniger spielerisch
        // transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    /* color: rgba(255, 255, 255, .75); */
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.875rem;
    /* color: #6c757d; */
}


/*----------------------------------------------
        Zoom-In-Effekt für die Galerie
    ----------------------------------------------*/


.ohnezoom {
    margin-top: 30px;
  }

  .ohnezoom {
    position: relative;
    margin-bottom: 50px;

  }


  .mitzoom {
    -border: 1px solid red;
    position: absolute;
    top: -100px;
    opacity: 0;
    -bottom: 100px;
    -background-color: rgba(142, 198, 63, .8);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10p;
  }

  .ohnezoom:hover .mitzoom {
    opacity: 1;
    top: 0px;
    transition: 1s;
  }

  .ohnezoom:hover .hover {
    transform: scale(1.3);
    transition: 1s;
  }


/* Dropdown-Menues sind scrollbar, wenn laenger als Bildschirm */
.navbar-nav {
    .dropdown-menu {
        overflow-y: auto;
        max-height: calc(100vh - (2 * var(--bs-navbar-padding-y)) - (2 * var(--bs-navbar-brand-padding-y)) - var(--bs-navbar-brand-font-size))
    }
}

/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */
@import "../../vendor/twbs/bootstrap/scss/bootstrap";
