/* import only the necessary Bootstrap files */
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

@import "./functions";

/* -------begin customization-------- */

// /* die Standardfarben festlegen */
// $theme-colors: (
// );

/* simply assign the value */
$body-bg: #FAFDF6;

// Custom

$theme-colors: (
  primary: #F9F8F8,
  secondary: #586994,
  success: #BDC8D4,
  info: #0099cc,
  warning: #A34C40,
  danger: #8C271E,
  light: #dadada,
  dark: #c0c0c0
);

p {
  font-size: 1.2rem;
}

.infokasten {
  padding: 50px 0px;
}

.showcase {
  background: url(../img/stifte.jpg) no-repeat 0 -100px;
  height: 600px;
  padding: 30px 0;

  .container {
    background: #fff;
    opacity: 0.95;
    padding: 20px 30px 30px 30px;
  }
}

// Diese Klasse wird benutzt als Überschrift einer jeden Seite
.titelfeld {
  .container {
    background: $light;
    border-radius: 20px;
    opacity: 0.95;
    padding: 20px 30px 30px 30px;
    margin-top: 40px;
  }
}

.section-a {
  padding: 30px 0;
  text-align: center;
  background: $primary;
  color: set-text-color($primary);
}

.section-b {
  background: #e6ebf1;
  padding: 30px 0;

  img {
    width: 100%;
  }
}

.panel-heading h4 {
  color: set-text-color($primary);
}

.section-c {
  padding: 60px 0;
  text-align: center;
  background: $primary;
  color: set-text-color($primary);

  .btn-primary {
    background: darken($primary, 10%);
  }
}

.title-bar {
  background: url(../img/showcase.jpg) no-repeat 0 -300px;
  padding-bottom: 10px;
  border-bottom: 4px solid $primary;
}

.main {
  margin-top: 30px;
}

footer{
  width: 100%;
  padding:30px 0;
  background: darken(#F9F8F8, 10%);
  color: set-text-color(#F9F8F8);
}

/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */
@import "../bootstrap/scss/bootstrap";
