/* import only the necessary Bootstrap files */
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

@import "./functions";

/* -------begin customization-------- */

// /* die Standardfarben festlegen */
// $theme-colors: (
// );

/* simply assign the value */
$body-bg: #fafdf6;

// Custom

$theme-colors: (
  primary: #f9f8f8,
  secondary: #586994,
  success: #bdc8d4,
  info: #0099cc,
  warning: #a34c40,
  danger: #8c271e,
  light: #dadada,
  dark: #c0c0c0,
);

p {
  font-size: 1.2rem;
}

.infokasten {
  padding: 50px 0px;
}

.showcase {
  background: url(../img/stifte.jpg) no-repeat 0 -100px;
  height: 600px;
  padding: 30px 0;

  .container {
    background: #fff;
    opacity: 0.95;
    padding: 20px 30px 30px 30px;
  }
}

// Diese Klasse wird benutzt als Überschrift einer jeden Seite
.titelfeld {
  .container {
    background: $light;
    border-radius: 20px;
    opacity: 0.95;
    padding: 20px 30px 30px 30px;
    margin-top: 40px;
  }
}

.section-a {
  padding: 30px 0;
  text-align: center;
  background: $primary;
  color: set-text-color($primary);
}

.section-b {
  background: #e6ebf1;
  padding: 30px 0;

  img {
    width: 100%;
  }
}

.panel-heading h4 {
  color: set-text-color($primary);
}

.section-c {
  padding: 60px 0;
  text-align: center;
  background: $primary;
  color: set-text-color($primary);

  .btn-primary {
    background: darken($primary, 10%);
  }
}

.title-bar {
  background: url(../img/showcase.jpg) no-repeat 0 -300px;
  padding-bottom: 10px;
  border-bottom: 4px solid $primary;
}

.main {
  margin-top: 30px;
}

footer {
  width: 100%;
  padding: 30px 0;
  background: darken(#f9f8f8, 10%);
  color: set-text-color(#f9f8f8);
}

// Ab hier für die Geschichtsunterseite

// $primary: #3f51b5;
// $dark-primary: #303f9f;
$light-primary: #c5cae9;
$text: #ffffff;
// $primary-text: #212121;
$secondary-text: #757575;
$accent: #ac1281;


.timeline {
  position: relative;

  &::before {
    content: "";
    background: $light-primary;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;

  &:nth-child(even) {
    .timeline-content {
      float: right;
      padding: 40px 30px 10px 30px;

      .date {
        right: auto;
        left: 0;
      }

      &::after {
        content: "";
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
      }
    }
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);

  &::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
  }
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: $primary;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}



.timeline-card {
  padding: 0 !important;

  p {
    padding: 0 20px;
  }

  a {
    margin-left: 20px;
  }
}

.timeline-item {
  .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
      url("https://picsum.photos/1000/800/?random") center center no-repeat;
    background-size: cover;
  }
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;

  h2 {
    color: $text;
    position: absolute;
    bottom: 5px;
    left: 20px;
  }
}

blockquote {
  margin-top: 30px;
  color: $secondary-text;
  border-left-color: $primary;
  padding: 0 20px;
}

.date {
  background: $accent;
  display: inline-block;
  color: $text;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}



/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */
@import "../bootstrap/scss/bootstrap";
