*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: currentColor;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 3rem; 
}

header {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.menu a {
    margin-left: 1.5rem;
}